:root {
  --game-board-size: 306px;
  --board-size: 102px;
  --square-size: 34px;
  --font-size: 20px;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row::after {
  clear: both;
  content: "";
  height: var(--square-size);
  width: var(--board-size);
}

.super-board-row::after {
  clear: both;
  content: "";
  height: var(--board-size);
  width: var(--game-board-size);
}

.status {
  margin-bottom: 10px;
}

.board {
  background: #fff;
  float: left;
  height: var(--board-size);
  width: var(--board-size);
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: var(--font-size);
  font-weight: bold;
  line-height: var(--square-size);
  height: var(--square-size);
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: var(--square-size);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-board {
  display: grid;
  min-height: var(--game-board-size);
  min-width: var(--game-board-size);
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
